@model DataLayer.Employee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@{
    List<SelectListItem> emp_type = new List<SelectListItem>();
    emp_type.Add(new SelectListItem
         {
             Text = "Employee",
             Value = "Employee",
             Selected = true
         });
    emp_type.Add(new SelectListItem
         {
             Text = "Admin",
             Value = "Admin",

         });

}
<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Employee</legend>

        @Html.HiddenFor(model => model.Employee_id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee_name)
            @Html.ValidationMessageFor(model => model.Employee_name)
        </div>

        @Html.HiddenFor(model => model.Employee_id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee_password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee_password)
            @Html.ValidationMessageFor(model => model.Employee_password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee_email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee_email)
            @Html.ValidationMessageFor(model => model.Employee_email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee_address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee_address)
            @Html.ValidationMessageFor(model => model.Employee_address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone_number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone_number)
            @Html.ValidationMessageFor(model => model.Phone_number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee_Type)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Employee_Type, emp_type)
            @Html.ValidationMessageFor(model => model.Employee_Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Voter_flag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Voter_flag)
            @Html.ValidationMessageFor(model => model.Voter_flag)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Department_id)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Department_id, (SelectList)ViewBag.deptid)
            @Html.ValidationMessageFor(model => model.Department_id)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "EmployeeDetails")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
