@model IEnumerable<DataLayer.Employee>

@{
    ViewBag.Title = "ShowResult";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>ShowResult</h2>


<table border="1">
    <tr>
        <th>
            @Html.DisplayName("Candidate Id")
        </th>
        <th>
            @Html.DisplayName("Candidate name")
        </th>
        
        <th>
            @Html.DisplayName("Deprtment Id")
        </th>
        <th>
            @Html.DisplayName("Total Vote ")
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        
        
    </tr>
}

</table>
<a class="buttonfora" href='@Url.Action("ShowFinalResult", "Admin")'>
                Show Final Result
               </a>
<br /><br />

<p>
    @Html.ActionLink("go to back", "VoteSection")
</p>
